body {
    padding: 0;
    margin: 0;
    font-size: 14pt;
    font-family: sans-serif;
}

button {
    font-size: 1em;
    line-height: 1.5em;
    padding: 0.5em 1em;
    border: 0;
    box-sizing: border-box;
}

input {
    font-size: 1em;
    line-height: 1.5em;
    padding: 0.5em;
    border: 0;
    box-sizing: border-box;
    background-color: transparent;
}

.input-container {
    position: relative;
    box-sizing: border-box;
}

.input-container::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
}

.atf {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 1em;
    background-color: #fff;
    /* 60.64deg ~= arctan(16/9) */
    background: linear-gradient(240.64deg, #ccc 0%, #fff 100%);
    box-shadow: 0px -2px 6px #d7d7d7 inset;
}

.atf input {
    text-align: center;
    width: 100%;
    font-style: italic;
}

.atf button {
    background-color: #dfdfdf;
    white-space: nowrap;
    overflow: hidden;
    transition: background-color 0.2s;
}

.atf button:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.atf button:active {
    background-color: #cacaca;
}

.atf .composite-button {
    max-width: 30em;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 8px #bdbdbd;
    border-radius: 0.5em;
    transform: scale(1);
    transition: transform 0.3s;
}

.atf .composite-button:hover {
    transform: scale(1.1);
}

.composite-button :first-child input {
    border-radius: 0.5em 0 0 0.5em;
}

.composite-button :last-child {
    border-radius: 0 0.5em 0.5em 0;
}

.composite-button .input-container {
    flex-grow: 1;
}

.composite-button .button-container {
    display: flex;
    flex-direction: row;
}

.composite-button .button-container button {
    flex-grow: 1;
}

@media screen and (max-width: 470px) {
    .atf .composite-button {
        flex-direction: column;
    }

    .composite-button :first-child input {
        border-radius: 0;
    }
    
    .composite-button :last-child {
        border-radius: 0;
    }
}

@media screen and (max-width: 270px) {
    .composite-button .button-container {
        flex-direction: column;
    }
}

#nslookup-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 40em;
    width: 100%;

    margin-top: 0em;
    height: 0;
    transition: margin 1s, height 1s;
    overflow: hidden;
}

#nslookup-results.expanded {
    margin-top: 2em;
    height: 100%;
    overflow: auto;
}

#nslookup-results .nslookup-result .available {
    color: rgb(52, 199, 89);
}

#nslookup-results .nslookup-result .unavailable {
    color: rgb(255, 59, 48);
}

.content {
    padding: 0 1em;
    max-width: 46em;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}
